@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer


@{
    ViewData["Title"] = Localizer["İletişim"];
}
<br>
<br>
<div class="row">
    <div class="col-3"></div>
    <div class="col-6">

        <h1 style="text-align: center;">@Localizer["Contact"]</h1>
        <h5><ins>@Localizer["Information"]</ins></h5>
        <h6><strong> @Localizer["Mail"]</strong></h6> <i> PetCommunity@gmail.com</i>
        <br>
        <h6><strong> @Localizer["Phone"]</strong></h6> <i> +90 0000 000 00 00</i>
        <hr>
        <h5> <ins>@Localizer["Sm"]</ins></h5>
        <a style="color: black;" href="https://www.instagram.com/"><i> Instagram</i></a>
        <br>
        <a style="color: black;" href="https://www.facebook.com/"><i> Facebook</i></a>
        <br>
        <a style="color: black;" href="https://twitter.com/"><i> Twitter</i></a>
        <br>
        <hr>
        <h5> <ins>@Localizer["Address"]</ins></h5>
        Sakarya Üniversitesi Bilgisayar ve Bilişim Bilimleri Fakültesi, 54187 Sakarya, Kemalpaşa mahallesi.
        <br>
        <br>
        <div style="text-align: center;">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3022.8902697098!2d30.323438315365994!3d40.74243997932856!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14ccaded70ee240b%3A0xd81085b5551312fd!2sBilgisayar%20Ve%20Bili%C5%9Fim%20Bilimleri%20Fak%C3%BCltesi!5e0!3m2!1str!2str!4v1575731498036!5m2!1str!2str"
                    width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
        </div>

    </div>
    <div class="col-3"></div>
</div>